.git
.gitignore

__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache

.ipynb_checkpoints

.venv
venv
env

conda-meta

.env
*.pem
*.key

.vscode
.idea

.DS_Store
Thumbs.db

*.log

*.db
*.sqlite

data/
sources/crm/

dist/
build/

spark-warehouse/
metastore_db/

docker-compose.override.yml